// Colors
$base: #000;
$level1: #181823;
$light-grey: #8491A0;
$dark-grey: #5B6876;
$text: #FFF;
$primary: #5221E6;
$green: #3CC74E;
$pink: #E95D90;
$blue: #609BFF;
$peach: #FFF3E4;
$violet: #FBE4FF;

body {  
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Sen', sans-serif;   
}

h1, h2, h3, h4, h5, p, span, div, ul, li, a, img, header, nav, main, footer, form, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: $base;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  background: linear-gradient(to right, $base 37.5%, $level1 37.5%);

  .logo {
    padding: 32px 0;
  }

  .menu {
    display: flex;
    .menu__item {
      padding: 32px 24px;
      a {
        color: $text;
        font-size: 16px;        
        font-weight: 400;
        line-height: 150%;        
      }
      &:hover {
        background-color: $primary;
        cursor: pointer;
      }
    }
    .menu__item_active {
      background-color: $primary;
    }
  }
}

.presentation {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, $base 37.5%, $level1 37.5%);  
  padding: 78px 0 80px 0;
  .presentation__img {
    max-width: 750px;
    max-height: 650px;    
    img {
      width: 100%;
    }
  }
  .presentation__block {
    max-width: 738px;    
    position: absolute;  
    right: 40px;            
    h1 {
      color: $text;
      font-size: 78px;      
      font-weight: 700;
      line-height: normal;    
      margin-bottom: 32px;  
      span {
        color: rgba(255, 255, 255, 0.50);
      }
    }
    p {      
      color: $text;
      font-size: 18px;      
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.experience {
  display: flex;
  flex-direction: column;
  padding: 120px 72px;
  h4 {
    color: $light-grey;
    font-size: 16px;    
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  h2 {
    color: $text;
    max-width: 690px;
    font-size: 55px;    
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }
  .experience__list {
    display: flex;
    justify-content: space-between;   
    gap: 24px; 
    .experience__item {
      display: flex;
      flex-direction: column;      
      max-width: 416px;
      .experience__number {
        color: $light-grey;
        font-size: 117px;        
        font-weight: 400;
        line-height: normal;
        padding-right: 290px;
      }
      .experience__position {
        color: $text;
        font-size: 24px;        
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 22px;
        .green {
          color: $green;
        }
        .pink {
          color: $pink;
        }
        .blue {
          color: $blue;
        }
      }
      .experience__description {
        color: $light-grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        max-width: 368px;        
      }
    }
  }
}


// .philosophy {
//   display: flex;  

//   .philosophy__block {
//     background-color: $peach;
//     max-width: 720px;
//     padding: 120px 0 124px 72px;
//     h1 {
//       font-size: 55px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: normal;
//     }
//   }

//   .philosophy__img {
//     max-width: 720px;    
//     & img {
//       width: 100%;
//     }
//   }
// }