body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Sen", sans-serif;
}

h1, h2, h3, h4, h5, p, span, div, ul, li, a, img, header, nav, main, footer, form, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  background: linear-gradient(to right, #000 37.5%, #181823 37.5%);
}
.header .logo {
  padding: 32px 0;
}
.header .menu {
  display: flex;
}
.header .menu .menu__item {
  padding: 32px 24px;
}
.header .menu .menu__item a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.header .menu .menu__item:hover {
  background-color: #5221E6;
  cursor: pointer;
}
.header .menu .menu__item_active {
  background-color: #5221E6;
}

.presentation {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #000 37.5%, #181823 37.5%);
  padding: 78px 0 80px 0;
}
.presentation .presentation__img {
  max-width: 750px;
  max-height: 650px;
}
.presentation .presentation__img img {
  width: 100%;
}
.presentation .presentation__block {
  max-width: 738px;
  position: absolute;
  right: 40px;
}
.presentation .presentation__block h1 {
  color: #FFF;
  font-size: 78px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.presentation .presentation__block h1 span {
  color: rgba(255, 255, 255, 0.5);
}
.presentation .presentation__block p {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.experience {
  display: flex;
  flex-direction: column;
  padding: 120px 72px;
}
.experience h4 {
  color: #8491A0;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.experience h2 {
  color: #FFF;
  max-width: 690px;
  font-size: 55px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.experience .experience__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.experience .experience__list .experience__item {
  display: flex;
  flex-direction: column;
  max-width: 416px;
}
.experience .experience__list .experience__item .experience__number {
  color: #8491A0;
  font-size: 117px;
  font-weight: 400;
  line-height: normal;
  padding-right: 290px;
}
.experience .experience__list .experience__item .experience__position {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 22px;
}
.experience .experience__list .experience__item .experience__position .green {
  color: #3CC74E;
}
.experience .experience__list .experience__item .experience__position .pink {
  color: #E95D90;
}
.experience .experience__list .experience__item .experience__position .blue {
  color: #609BFF;
}
.experience .experience__list .experience__item .experience__description {
  color: #8491A0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 368px;
}/*# sourceMappingURL=style.css.map */