// Colors
$base: #000;
$level1: #181823;
$light-grey: #8491A0;
$dark-grey: #5B6876;
$text: #FFF;
$primary: #5221E6;
$green: #3CC74E;
$pink: #E95D90;
$blue: #609BFF;
$peach: #FFF3E4;
$violet: #FBE4FF;

//mixins
@mixin heading2 {
  font-size: 55px;    
  font-weight: 700;
  line-height: normal;
}

@mixin paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

@mixin link {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.5s ease-in;
}

@mixin underline {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -6px;  
  left: 0; 
}

body {  
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Sen', sans-serif;   
}

h1, h2, h3, h4, h5, p, span, div, ul, li, a, img, header, nav, main, footer, form, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: $base;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  background: linear-gradient(to right, $base 37.5%, $level1 37.5%);

  .logo {
    padding: 32px 0;
  }

  .menu {
    display: flex;
    .menu__item {
      padding: 32px 24px;
      transition: all 0.5s ease-in;
      a {
        @include link;
        color: $text;             
      }
      &:hover {
        background-color: $primary;
        cursor: pointer;
      }
    }
    .menu__item_active {
      background-color: $primary;
      a {
        &:hover {
          cursor: default;
        }
      }
      &:hover {
        cursor: default;
      }
    }
  }
}

.presentation {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, $base 37.5%, $level1 37.5%);  
  padding: 78px 0 80px 0;
  .presentation__img {
    max-width: 750px;
    max-height: 650px;    
    img {
      width: 100%;
    }
  }
  .presentation__block {
    max-width: 738px;    
    position: absolute;  
    right: 40px;            
    h1 {
      color: $text;
      font-size: 78px;      
      font-weight: 700;
      line-height: normal;    
      margin-bottom: 32px;  
      span {
        color: rgba(255, 255, 255, 0.50);
      }
    }
    p {     
      @include paragraph; 
      color: $text;
    }
  }
}

.experience {
  display: flex;
  flex-direction: column;
  padding: 120px 72px;
  h4 {
    color: $light-grey;
    font-size: 16px;    
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  h2 {
    @include heading2;
    color: $text;
    max-width: 690px;    
    margin-bottom: 40px;
  }
  .experience__list {
    display: flex;
    justify-content: space-between;   
    gap: 24px; 
    .experience__item {
      display: flex;
      flex-direction: column;      
      max-width: 416px;
      .experience__number {
        color: $light-grey;
        font-size: 117px;        
        font-weight: 400;
        line-height: normal;
        padding-right: 290px;
      }
      .experience__position {
        color: $text;
        font-size: 24px;        
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 22px;
        .green {
          color: $green;
        }
        .pink {
          color: $pink;
        }
        .blue {
          color: $blue;
        }
      }
      .experience__description {
        color: $light-grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        max-width: 368px;        
      }
    }
  }
}

.philosophy {
  display: flex;  

  .philosophy__block {
    background-color: $peach;
    max-width: 720px;
    padding: 120px 0 124px 72px;
    h2 {
      @include heading2;
      color: $level1;
      margin-bottom: 24px;
    }
    p {
      @include paragraph; 
      color: $dark-grey;       
      margin-bottom: 134px;
      padding-right: 72px;
    }
    a {
      @include link;
      color: $level1;      
      position: relative;       
      &:hover {
        color: $primary;
      }
      &::after {        
        @include underline;
        background-color: $light-grey;
      }
    }
  }

  .philosophy__img {
    max-width: 720px;    
    max-height: 600px;
    img {
      width: 100%;
    }
  }
}

.skillset {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 48px 24px;
  padding: 120px 72px;  
  .skillset__description {
    grid-row: span 2;
    margin-right: 48px;
    h2 {
      @include heading2;
      color: $text;
      margin-bottom: 24px;
    }
    p {
      @include paragraph; 
      color: $light-grey;
    }
  }
  .skillset__item {   
    img {
      display: block;
      margin-bottom: 24px;
    } 
    h3 {
      color: $text;
      font-size: 24px;      
      font-weight: 700;
      line-height: 150%;
      margin-bottom: 12px;
    }

    p {
      color: $light-grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      max-width: 368px;
    }
  }
}

.brands {
  display: flex;
  padding-left: 48px;
  .brands__item {
    border: 1px solid $level1;
    padding: 55px 128px 55px 127px;
  }
  .brands__item_hidden {
    display: none;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 113px 72px 127px;
  .projects__left-block {
    h4 {
      color: $light-grey;
      font-size: 16px;      
      font-weight: 700;
      line-height: 150%; 
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    h2 {
      @include heading2;
      color: $text;
      margin-bottom: 80px;
      max-width: 572px;
    }
  }
  .projects__right-block {
    display: flex;
    flex-direction: column;    
    align-items: center;
    button {
      display: block;
      color: $text;
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid $primary;
      padding: 24px 32px;
      margin-top: 67px;
      cursor: pointer;
      transition: all 0.5s ease-in;
      &:hover {
        background-color: $primary;
      }
    }
  }
  .projects__item {    
    margin-bottom: 24px;    
    .projects__img {
      max-width: 636px;
      max-height: 620px;
      img {
        width: 100%;
      }
    }
    .projects__description {
      padding: 40px 32px;
      .projects__title {
        color: $text;
        font-size: 24px;
        font-weight: 700;
        line-height: 150%; 
        margin-bottom: 13px;
      }
      p {
        @include paragraph;
        color: $light-grey;
        max-width: 572px;
      }
    }
  }
}

.instagram {
  display: flex;  

  .instagram__block {
    background-color: $violet;
    max-width: 720px;
    padding: 120px 0 124px 72px;
    h2 {
      @include heading2;
      color: $level1;
      margin-bottom: 24px;
    }
    p {
      @include paragraph; 
      color: $dark-grey;   
      margin-bottom: 134px;
      padding-right: 72px;
    }
    a {
      @include link;
      color: $level1;     
      position: relative;       
      &:hover {
        color: $primary;
      }
      &::after {        
        @include underline;
        background-color: $light-grey;
      }
    }
  }

  .instagram__img {
    max-width: 720px;    
    max-height: 600px;
    img {
      width: 100%;
    }
  }
}

.dribble {
  padding: 120px 182px;
  h2 {
    @include heading2;
    color: $text;
    margin-bottom: 24px;
  }
  p {
    @include paragraph; 
    color: $light-grey;
    max-width: 636px;
    margin-bottom: 40px;
  }
  a {
    @include link;
    color: $text;     
    position: relative;     
    &:hover {
      color: $primary;
    }
    &::after {        
      @include underline;
      background-color: $light-grey;
    }
  }
  .dribbble__img {
    max-width: 1076px;
    max-height: 676px;
    margin-top: 120px;
    img {
      width: 100%;
    }
  }
}

.feedbacks {  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 120px 72px 0;
  .feedbacks__left-block {
    max-width: 588px;      
    h2 {
      @include heading2;
      color: $text;
      margin-bottom: 24px;
    }
    p {
      @include paragraph; 
      color: $light-grey;             
      margin-bottom: 40px;    
      max-width: 588px;    
    }
    a {
      @include link;
      color: $text;     
      position: relative;       
      &:hover {
        color: $primary;
      }
      &::after {        
        @include underline;
        background-color: $light-grey;
      }
    }
  }
  .feedbacks__right-block {
    .feedbacks__item {
      border: 1px solid $dark-grey;
      margin-bottom: 120px;
      .feedbacks__img {
        max-width: 636px;
        max-height: 360px;
        img {
          width: 100%;
        }
      }
      .feedbacks__description {
        color: $text;
        font-size: 24px;      
        font-weight: 700;        
        margin: 64px;
        max-width: 508px;
      }
      .feedbacks__description_high {
        line-height: 150%;
      }
      .feedbacks__description_normal {
        line-height: normal;
      }
      .feedbacks__paragraph {
        color: $dark-grey;
        font-size: 18px;
        line-height: 150%;
        padding: 0 64px;
      }
      .feedbacks__person {
        font-weight: 700;
      }
      .feedbacks__position {
        margin-top: 4px;
        margin-bottom: 64px;
        font-weight: 400;
      }
    }
  }
}

.photography {
  padding: 120px 72px;
  h2 {
    @include heading2;
    color: $text;
    margin-bottom: 24px;
  }
  p {
    @include paragraph;
    color: $light-grey;
    max-width: 588px;
    margin-bottom: 64px;
  }
  .photography__btns {
    display: flex;
    gap: 24px;
    max-width: 490px;
    margin-bottom: 36px;
    .photography__btn {
      display: block;
      color: $text;
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 150%;      
      background-color: transparent;
      border: 1px solid $primary;
      text-transform: uppercase;
      padding: 12px 16px;      
      cursor: pointer;
      transition: all 0.5s ease-in;
      &:hover {
        background-color: $primary;
      }
    }
    .photography__btn_active {
      background-color: $primary;
      &:hover {
        cursor: default;
      }
    }
  }
  .photography__imgs {
    display: flex;
    gap: 24px;
    .photography__img {
      max-width: 306px;
      max-height: 420px;
    }
  }
}

.contact-me {
  display: flex;
  gap: 24px;
  padding: 120px 182px;  
  .contact-me__left-block {
    h2 {
      @include heading2;
      color: $text;
      margin-bottom: 24px;
    }
    p {
      @include paragraph;
      color: $light-grey;
      max-width: 526px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    label {
      color: $text;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      input, textarea {
        color: $text;
        width: 526px;
        height: 50px;
        background-color: $level1;
        outline: 0;
        outline-offset: 0;
        border: none;
      }
      textarea {
        height: 100px;
      }      
    }
    button {
      display: block;
      color: $text;
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      background-color: $primary;  
      border: 1px solid $primary;      
      padding: 24px 32px;               
      transition: all 0.5s ease-in;
      &:hover {
        cursor: pointer;        
        background-color: transparent;
      }
    }
  }
}